::host {
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 0 auto
  align-items center
}

.example-header {
  text-align center
}

.mat-column-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  overflow: hidden;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.example-no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 20px;
  font-style: italic;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
  margin-top: 8px;
}

.mat-table {
  overflow: auto;
  width: 400px;
  max-height: 400px;
  margin: 0 auto
}

.mat-row {
  min-height: 30px
}

.mat-cell {
  text-overflow ellipsis
  overflow hidden
  white-space: nowrap;
  padding-right 8px
  width: 100px;
  flex: 1 0 auto;
}

.mat-row :last-child,
.mat-header-row :last-child {
  flex: 0 0 40px;
}

.mat-icon {
  cursor: pointer;
}

img.small
  max-height 50px;
  max-width 40px;

.buttons {
  display: flex;
  justify-content flex-end
  width: 400px;
  margin-top: 30px
}

button {
  margin-left: 30px;
}

