<div class="example-container">
  <h1 class="example-header">Список переводов</h1>
  <mat-table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Слово</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="translation">
      <mat-header-cell *matHeaderCellDef>Перевод</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.translation}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"><mat-icon (click)="editTranslation(row, i)" color="primary">edit</mat-icon></mat-cell>
    </ng-container>
  </mat-table>
  <div class="example-no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">Список пуст</div>
  <div class="buttons">
    <button type="button" mat-raised-button color="primary" [disabled]="loading" (click)="addTranslation()">Добавить</button>
    <button type="button" mat-raised-button color="primary" [disabled]="loading || (dataSource.length < testSize)"  (click)="startTest()">Тестировать</button>
  </div>
  <div class="example-loading-shade" *ngIf="loading">
     <mat-spinner></mat-spinner>
  </div>
</div>
