<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <form *ngIf="form && !result" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="mat-step-title">Шаг {{step + 1}} из {{variants.length}}</div>
    <ng-container formArrayName="variants">
      <div *ngFor="let variant of variants.controls; let i=index" [formGroupName]="i">
        <ng-container *ngIf="!hide && step == i">
          <span class="mat-radio-title">Как переводится слово: {{data.variants[i].name}}</span>
          <mat-radio-group formControlName="translate">
            <mat-radio-button *ngFor="let number of [0,1,2,3,4,5]"
                              [value]="data.variants[randoms[number]].translation">
              {{data.variants[randoms[number]].translation}}
            </mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </div>
    </ng-container>
    <div>
      <button *ngIf="step + 1 < (variants.length)" [disabled]="variants.get([step]).invalid" (click)="nextStep()" mat-raised-button color="primary"type="button">Вперед</button>
      <button *ngIf="step + 1 == (variants.length)" mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Проверить</button>
    </div>
  </form>
  <div *ngIf="result" class="result">Ваш результат: {{result}} из {{variants.length}}</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button *ngIf="!result" mat-dialog-close type="button">Отмена</button>
  <button mat-button mat-raised-button color="primary" *ngIf="result" [mat-dialog-close]="true" type="button">Ок</button>
</mat-dialog-actions>
<div class="circle-animation" *ngIf="loading">
  <div class="circle"></div>
  <div class="circle-small"></div>
  <div class="circle-big"></div>
  <div class="circle-inner-inner"></div>
  <div class="circle-inner"></div>
</div>
