:host {
  display flex
  flex-direction column
  justify-content space-between
  height: 100%
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-dialog-content {
  max-height: none
  min-height 50px
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.mat-radio-button {
  margin-bottom: 20px;
}

.mat-dialog-title {
  margin: 0;
}

.mat-radio-title {
  font: 500 14px/2 Roboto,"Helvetica Neue",sans-serif
  margin-bottom: 10px;
  display: inline-block;
}

.mat-step-title {
  font: 500 16px/2 Roboto,"Helvetica Neue",sans-serif
}

.result {
  font: 500 16px/1 Roboto,"Helvetica Neue",sans-serif
  text-align center
}

.circle-animation
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0.5)

  .circle{
    width: 180px;
    height: 180px;
    border: 10px inset rgb(133,224,242);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 200px;
    animation: rotate 5s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  .circle-small{
    width: 150px;
    height: 150px;
    border: 6px outset rgb(133,224,242);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -81px;
    margin-top: -81px;
    border-radius: 156px;
    animation: rotate-rev 3s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  .circle-big{
    width: 210px;
    height: 210px;
    border: 4px dotted rgb(133,224,242);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -109px;
    margin-top: -109px;
    border-radius: 214px;
    animation: rotate-rev 10s infinite linear;
  }

  .circle-inner{
    width: 80px;
    height: 80px;
    background-color: rgb(133,224,242);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 80px;
    animation: pulse 1.5s infinite ease-in;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  .circle-inner-inner{
    width: 100px;
    height: 100px;
    background-color: rgb(74,124,134);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 100px;
    animation: pulse 1.5s infinite ease-in;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  /*==============ANIMATIONS=================*/

  @keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

  @keyframes rotate-rev{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  @keyframes pulse{
    0% {
      transform: scale(0.1);
      opacity: 0.2;
    }
    50% {
      transform: scale(1);
      opacity: 0.8;
    }
    100% {
      transform: scale(0.1);
      opacity: 0.2;
    }
  }
