<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Слово" formControlName="name">
      <mat-error *ngIf="form.get('name').hasError('required')">Слово не может быть пустым</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Перевод" formControlName="translation">
      <mat-error *ngIf="form.get('translation').hasError('required')">Перевод не может быть пустым</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close type="button">Отмена</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">{{ approve }}</button>
  </mat-dialog-actions>
</form>
